#title-calendar {
    font-size: 30px;
    font-family: "Calibri", sans-serif;
  }

#calendar{
    font-size: 15px;
    font-family: "Arial", sans-serif;
    position: relative;
  }

.left-side {
    width: 55%;
    height: 5%;
    margin-left: 30px;
    display:inline-block;
    float: left;
  }

#new-event{
  margin-top: 20px;
  margin-left: 10px;
}