<main class="main">
  <div class="content">
    <div class="left-side" id="calendar">
      <div>
      <b id="title-calendar">Content Calendar</b>
      <full-calendar [options]="calendarOptions" appendTo="body"></full-calendar>
      </div>
      <div id="new-event">
        <span>New Event: </span>
        <input type="text" placeholder="Event Title" [(ngModel)]="newEvent.title" style="margin-right: 10px">
        <input type="date" [(ngModel)]="newEvent.date" style="margin-right: 10px">
        <input id="eventTime" type="time" [(ngModel)]="newEvent.time" style="margin-right: 10px">
        <button (click)="addEvent()">Add Event</button>
      </div>
    </div>
  </div>
</main>
